/** TODO: look into using there colors */
/* border-image-source: linear-gradient(to left, #00C853, #B2FF59); */
:root,
reactive-element,
ui-component {
    /* TODO: Deprecated: get rid of these color names and use --color instead. */
    --black-raisin: oklch(0.26 0 0);
    --black-eirie: oklch(0.21 0 0);
    --black-eirie-0: oklch(0.21 0 0 / 0);
    --black-eirie-50: oklch(0.21 0 0 / 50);
    --black-eirie-75: oklch(0.21 0 0 / 0.75);
    --gray-granite: oklch(0.57 0 0);
    --gray-granite-25: oklch(0.57 0 0 / 0.25);
    --gray-granite-50: oklch(0.57 0 0 / 0.5);
    --gray-granite-75: oklch(0.57 0 0 / 0.75);
    --white: oklch(0.98 0.02 103);

    --color-primary: oklch(0.82 0.09 253);
    --color-primary-light: oklch(0.92 0.04 253);
    --color-secondary: oklch(0.82 0.09 73);
    --color-secondary-light: oklch(0.92 0.04 73);
    --color-bg-dark: oklch(0.2 0 0);
    --color-bg: oklch(0.3 0 0);
    --color-bg-light: oklch(0.45 0 0);
    --color-text: oklch(0.9 0 0);
    --color-text-muted: oklch(0.7 0 0);
    --color-border: oklch(0.4 0 0);
    --color-highlight: oklch(0.6 0 0);

    --btn-primary-bg: oklch(from var(--color-primary-light) l c h / 0.15);
    --btn-primary-bg-hover: oklch(from var(--color-primary-light) l c h / 0.25);
    --btn-primary-text: oklch(from var(--color-primary-light) l c h / 1);
    --btn-primary-border: oklch(from var(--color-primary-light) l c h / 1);
    --btn-primary-focus-shadow: 0 0 0 2px var(--btn-primary-bg);

    --btn-secondary-bg: oklch(from var(--color-secondary) l c h / 0.5);
    --btn-neutral-bg: oklch(from var(--color-bg-light) l c h / 0.5);

    /** TODO: Pick a better font (for menu mostly) */
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--color-text);
    background-color: var(--black-raisin);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    overflow: hidden;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.hidden {
    display: none !important;
}

canvas {
    border: 2px solid var(--black-eirie);
    display: block;
    margin: 0 auto;
}

#app {
    position: relative;
    width: 100%;
    padding: 0;
    background-color: var(--black-raisin);
    display: flex;
    justify-content: center;
    align-items: center;
}

*[hidden] {
    display: none !important;
}
